<% provide :head_tags do %>
    <meta name='turbolinks-visit-control' content='reload'>
    <script>
        document.addEventListener("DOMContentLoaded", initMapAll);
    </script>
<% end %>
<%= form_for @message, url: {action: "create"} do |form| %>

<div class="row">
    <div class="col-md-6">

      <div class="form-group">
        <%= form.label :Latitude %>
        <%= form.text_field :msg_lat, class: "form-control", value: session[:lat] %>
      </div>





    </div>

    <div class="col-md-6">

      <div class="form-group">
        <%= form.label :Longitude %>
        <%= form.text_field :msg_long, class: "form-control", value: session[:long] %>
      </div>

    </div>


</div>


<div class="row">



  <div class="col-md-12">




      <div class="form-group">
        <%= form.label :Friends %>
        <%= form.select :to_user,
          options_for_select(User.where.not("id = #{current_user.id}").map {|u| [u.name.capitalize, u.id]}), {}, {class: 'form-control'} %>
      </div>

      <div class="form-group">
        <%= form.label :Message %>
        <%= form.text_area :body, class: "form-control", size: "24x6" %>
      </div>

      <div class="form-group">
        <%= form.submit 'Send Message', class: "btn btn-primary", id: "send" %>
      </div>
  </div>


</div>

<% end %>
