
<h1>Inbox</h1>

<div class="row">
  <div class="col">
    <table>
      <thead>
        <tr>
          <th width=250px>From</th>
          <th>Read</th>
        </tr>
      </thead>

      <tbody>
        <% @inbox.each do |message| %>
        <tr>
          <td width=250px><%= User.find(message.from_user.to_i).name %></td>
          <td><%= status = message.read == true ? 'read' : 'unread' %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

  </div>
  <div class="col">
    <table>
      <thead>
        <tr>
          <th width=250px>From</th>
          <th>Read</th>
        </tr>
      </thead>

      <tbody>
        <% @close_msg.each do |message| %>
        <tr>
          <td width=250px><%= link_to User.find(message.from_user.to_i).name, user_message_path(id: message) %></td>
          <td><%= status = message.read == true ? 'read' : 'unread' %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


<br>

<h1>Sent</h1>

<table>
  <thead>
    <tr>
      <th width=250px>To</th>
      <th>Body</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <% @outbox.each do |message| %>
      <tr>
        <td><%= User.find(message.to_user.to_i).name %></td>
        <td><%= message.body %></td>
        <td>
          <%= link_to '', user_message_path(id: message), method: :delete, data: { confirm: 'Are you sure?' }, class: "fas fa-trash-alt"%>
        </td>

        <td class="message_msg_lat" value="<%= message.msg_lat %>"><%= message.msg_lat %></td>
        <td class="message_msg_long" value="<%= message.msg_long %>"><%= message.msg_long %></td>

        </tr>
    <% end %>
  </tbody>
</table>

<br>


</p>

<%= link_to 'New message', new_user_message_path, class: "btn btn-secondary" %>

<%= form_tag("/checkin", method: "get") do %>
<%= text_field_tag(:message_msg_lat, '', value: session[:lat].to_f) %>
<%= text_field_tag(:message_msg_long, '', value: session[:long].to_f) %>
<%= submit_tag("Check In") %>
<% end %>

<p>


  </div>
