<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Message Hunter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyBmE8T1QkDeOjZxMhHU73L02DH-vJIvCG4' %>

    <%= yield(:head_tags) %>
  </head>

  <body>
    <nav class="navbar">
      <span class="navbar-brand mb-0 h1">Message Hunter</span>
        <% if current_user  %>
        <small>Checked in at :   <i class="fas fa-map-marker-alt"></i> <%= session[:lat] %>, <%= session[:long] %></small>

        <div class="float-right">
        <small> <%= current_user.name %> | <%= link_to "Sign out", '/signout' %> </small>
        <% else %>
        <small> <%= link_to "Sign up", '/signup'  %> | <%= link_to "Sign in", '/signin' %> </small>
      </div>
        <% end %>

    </nav>

    <div class="container-fluid">

      <div class="row">

        <% if flash[:alert] %>
          <div class="alert alert-danger alert-dismissible fade show flash_msg" role="alert">
            <%= flash[:alert] %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <% end %>

        <% if flash[:notice] %>
          <div class="alert alert-success alert-dismissible fade show flash_msg" role="alert">
            <%= flash[:notice]  %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <% end %>


        <div class="col-md-9 map-viewport" >
          <div id="map-all"></div>
          <div id="legend"><h5>Legend</h5></div>
        </div>

        <div class="col-md-3" id="ui">
          <%= yield %>
        </div>

      </div>


    </div>


  </body>
</html>
